* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: auto;
  background: linear-gradient(rgba(234, 238, 238, 0.772), rgb(219, 224, 219));
  height: 100vh;
}
@media (max-width: 992px) {
  body {
    width: 100%;
  }
}
a {
  text-decoration: none;
}
