.user-profiles {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #9d969646;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
  }
  .user-profile {
    border-radius: 10px;
    background: linear-gradient(rgb(88, 88, 150), black);
    margin: 5px;
    padding: 10px;
    color: #fff;
    transition: 0.5s ease;
  }
  .user-profile:hover {
    background: #fff;
    color: black;
    border: 1px solid black;
    transform: scale(1.02);
  }
  